#folder
.svn/
.git/
.metadata/
.settings/
.svn/
Debug/
Dist/
__pycache__/
bin/
build/
dist/
ipch/
obj/

#file
*-odb.cpp
*-odb.cxx
*-odb.h
*-odb.hxx
*-odb.ixx
*-odb.sql
*.a
*.al
*.aps
*.bz2
*.git
*.gz
*.ilk
*.la
*.ldb
*.lo
*.o
*.obj
*.opensdf
*.pch
*.pdb
*.pyc
*.pyo
*.rej
*.res
*.sdf
*.so.[0-9]
*.spec
*.suo
*.svn
*.tlog
*.user
*.vcxproj.user
*.zip
*_i.c
*_i.h
*.DS_Store
*.libs
*.project
*.pydevproject
*desktop.ini
*~.doc
*~.docx